* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}



@font-face {

    font-family: RockFont;
  
    src: url("Funkrocker.otf");
  
  }
  
.card img {
    margin:auto;
    width: 30%;

}  
  
  h4 {
  
    font-family: RockFont;
  
  }



h1 {
    font-family: RockFont;
}

  .masthead {

    background: rgb(230, 221, 221);
  
    height: 5em;
  
  }
  
  .centeredText {
  
    text-align: center;
  
  }


  .site-title {

    color: white;
  
    font-family: RockFont;
  
    font-size: 80px;
  
    font-weight: bolder;
  
  }

  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 7px;
    width: 85%;
    margin:auto;
    display:inline-block;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }